html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
  box-sizing: border-box;
}


$lightGray: #eeeeee;

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12pt;
}

.container {
	max-width: 40em;
	margin: 0 auto;
	padding: 1em;
}

.LoginForm {
  max-width: 300px;
  margin: 2em auto;
  h1 {
    font-size:1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #555;
  }
  form * {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.8em 1em;
    background-color: $lightGray;
    margin-bottom: 0.5em;
    border-radius: 0.2em;
    font-size: 1em
  }
  form button {
    background-color: #A2DED0;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}

.Dashboard {
	margin: 2em auto;
	h2 {
		font-size:1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #555;
	}
}
